article {
  position: relative;
  background: var(--secondary);
  height: 100%;

  mat-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 300px;
    width: 30vw;
    height: fit-content;
  }
}
