<article>
  <div
    class="map h-100 w-100 d-flex align-items-center justify-content-center"
    #map
    leaflet
    [leafletOptions]="options"
  >
    <p>Cargando mapa...</p>
  </div>
  <button
    mat-fab
    class="mat-fab-button bg-danger text-light"
    (click)="showForm = !showForm"
  >
    <mat-icon>add</mat-icon>
  </button>

  <mat-card *ngIf="showForm">
    <mat-card-content>
      <h3>Crear marcador</h3>
      <br />
      <field-form
        [form]="form"
        name="descripcion"
        label="Descripcion"
      ></field-form>
      <field-form
        [form]="form"
        name="latitud"
        label="Latitud"
        error="Debe ser un valor numerico"
      ></field-form>
      <field-form
        [form]="form"
        name="longitud"
        label="Longitud"
        error="Debe ser un valor numerico"
      ></field-form>
      <field-form
        type="date"
        [form]="form"
        name="fecha"
        label="Fecha"
      ></field-form>
      <field-form
        type="number"
        [form]="form"
        name="valor"
        label="Valor"
      ></field-form>
      <button
        mat-flat-button
        color="primary"
        class="text-light"
        [disabled]="form.invalid"
        (click)="guardar()"
      >
        Guardar
      </button>
    </mat-card-content>
  </mat-card>
</article>
